extends maparea/layout

block styles
    link(rel="stylesheet", href="#{STATIC_URL}/css/main.css")
block scripts
    script(src='https://maps.googleapis.com/maps/api/js?v=3.exp')
block scripts_footer
    script(src="#{STATIC_URL}/js/map.js")
block content
    .container-fluid
        .row
            .col-md-10.col-md-offset-1
                .jumbotron
                    div#map-canvas