extends maparea/layout

block styles
    link(rel="stylesheet", href="#{STATIC_URL}css/main.css")
block scripts
    script(src='https://maps.googleapis.com/maps/api/js?v=3.exp')
block scripts_footer
    script(src="#{STATIC_URL}js/map.js")
block content
    .container-fluid
        .row
            .col-md-2
                .panel.panel-info
                    .panel-heading
                        p
                            strong create your areas
                    .panel-body
                        p
                            | Here you can add you areas by clicking upon the map to fix the edges.
                            | Doing so, you should get your areas shaped on it.
            .col-md-10
                .jumbotron
                    div#map-canvas